<div class="col-md-3">
  <div class="nav lynn">
    <ul class="sidebar">
    <li class="menu"><p>Menu</p></li>
    <li style="border-top:2px solid black;"><p id="first" onclick="testScroll(id)">Top</p></li>
    <li><p id="sport" onclick="testScroll(id)">Sport</p></li>
    <li><p id="business" onclick="testScroll(id)">Business</p></li>
    <li><p id="science-and-nature" onclick="testScroll(id)">Science and Nature</li>
    <li><p id="entertainment" onclick="testScroll(id)">Entertainment</li>
    <li><p id="music" onclick="testScroll(id)">Music</li>
    <li><p id="politics" onclick="testScroll(id)">Politics</li>
    <li><p id="technology" onclick="testScroll(id)">Technology</li>
    <li><p id="general" onclick="testScroll(id)">General</li>
  </ul>
  </div>
</div>
