<div class="nav">
      <ul class="topMenu">
      	<!-- <i class="fa fa-newspaper-o" style="font-size:36px; color:#ef6040" aria-hidden="true"></i> -->
        <!-- <li><a ui-sref="home" ui-sref-active="active">Home</a></li> -->
        <li><a ui-sref="view" ui-sref-active="active">Articles</a>
        </li>
        <li><a ui-sref="favorites" ui-sref-active="active">Favorites</a></li>
        <!-- <li><a ui-sref="firebase" ui-sref-active="active">Firebase</a></li> -->

        <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
      </ul>
</div>
